@import "./../../styles/variables.scss";

$mobile-dbd-version-min-height: 16px;
$tablet-dbd-version-min-height: 18px;

.dbd-version {
  display: inline-block;
  min-width: 36px;
  max-width: 54px;
  min-height: $mobile-dbd-version-min-height;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: $mobile-dbd-version-min-height - 4px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  background-color: $color-purple-400;

  @media (min-width: $tablet-width) {
    min-height: $tablet-dbd-version-min-height;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: $tablet-dbd-version-min-height - 4px;

    font-size: 14px;
  }
}
