// Брейкпоинты

$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1224px;

$mobile-padding: 10px;
$tablet-padding: 32px;
$desktop-padding: 110px;

// Шрифты

$font-roboto-condensed: "Roboto Condensed", "Arial Narrow", "Arial", sans-serif;

// Цвета

$color-white: #ffffff;
$color-purple-500: #150b22;
