.loaging-page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.loading-page__spinner {
  position: relative;

  width: 10px;
  height: 30px;
  border-radius: 4px;

  color: $color-white;

  background: currentColor;
  animation: spinner 1s ease-in infinite alternate;
  box-shadow:
    15px 0 0 -1px,
    -15px 0 0 -1px,
    30px 0 0 -2px,
    -30px 0 0 -2px,
    45px 0 0 -3px,
    -45px 0 0 -3px;
}

@keyframes spinner {
  100% {
    height: 0;
  }
}
