@import "./../../styles/variables.scss";

.perk {
  display: inline-block;
  width: var(--perk-size);
  height: var(--perk-size);
}

.perk__button {
  position: relative;
  left: var(--perk-image-offset);
  top: var(--perk-image-offset);

  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--perk-rotated-size);
  height: var(--perk-rotated-size);
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;

  background: none;

  transform: rotate(45deg);
  transition-property: filter;
  transition-duration: $transition-duration;

  box-shadow: 0 10px 0 0 rgba($color-black, 0.25);

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: calc(-1 * var(--perk-image-offset));
    top: calc(-1 * var(--perk-image-offset));

    width: var(--perk-size);
    height: var(--perk-size);

    background-image: url("./../../assets/img/perks/perk-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--perk-size);

    transform: rotate(-45deg);

    pointer-events: none;
  }

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: var(--perk-rotated-size);
    height: var(--perk-rotated-size);

    background-color: rgba($color-white, 0);

    transition-property: background-color;
    transition-duration: $transition-duration;

    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible,
  &:hover {
    &::after {
      background-color: rgba($color-white, 0.05);
    }
  }

  &--selected {
    pointer-events: none;

    &::after {
      background-color: transparent;
    }
  }

  @media (min-width: $tablet-width) {
    box-shadow: 0 20px 0 0 rgba($color-black, 0.25);
  }
}

.perk__overlay {
  position: relative;
  left: var(--perk-image-offset);
  top: -52px;
  z-index: 1;

  display: none;
  width: var(--perk-rotated-size);
  height: var(--perk-rotated-size);

  cursor: pointer;

  transform: rotate(-45deg);
  transition-property: background-color;
  transition-duration: $transition-duration;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border-color: rgba($color-white, 0.8);
    border-width: 2px;
    border-style: solid;

    pointer-events: none;

    transform: scale(1.03);
  }

  &:hover {
    background-color: rgba($color-white, 0.03);
  }

  @media (min-width: $tablet-width) {
    left: var(--perk-image-offset);
    top: -89px;
  }
}

.perk__button--selected + .perk__overlay {
  display: block;
}

.perk__img {
  position: absolute;
  left: calc(-1 * var(--perk-image-offset));
  top: calc(-1 * var(--perk-image-offset));

  display: block;
  width: var(--perk-size);
  max-width: none;
  height: var(--perk-size);

  transform: rotate(-45deg);

  pointer-events: none;
}
