// Layout

$mobile-padding: 10px;
$tablet-padding: 32px;

$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1224px;

$max-content-width: 1700px;

$comfortable-height: 480px;

// Header

$mobile-header-height: 68px;
$tablet-header-height: 100px;
$desktop-header-height: 118px;

$desktop-header-padding: 8px;

$mobile-header-gap: 8px;
$tablet-header-gap: 12px;
$desktop-header-gap: 16px;

// Fonts

$font-roboto-condensed: "Roboto Condensed", "Arial Narrow", "Arial", sans-serif;

// Colors

$color-white: #ffffff;
$color-black: #000000;

$color-grey-500: #d9d9d9;

$color-green-500: #199b1e;

$color-yellow-300: #fefedd;
$color-yellow-400: #c8c0a1;
$color-yellow-500: #e8c252;

$color-red-400: #b7364d;
$color-red-500: #d41c1c;

$color-orange-500: #ff8800;

$color-purple-200: #ac3ee3;
$color-purple-300: #45325e;
$color-purple-325: #4d2564;
$color-purple-350: #4a255b;
$color-purple-400: #2f2141;
$color-purple-425: #26183b;
$color-purple-440: #201530;
$color-purple-450: #170f22;
$color-purple-500: #150b22;
$color-purple-550: #12091d;
$color-purple-600: #10061c;

// Animations

$transition-duration: 0.15s;
