// Сетка

$mobile-padding: 10px;
$tablet-padding: 32px;
$desktop-padding: 100px;

$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1224px;

$max-content-width: 1700px;

// Header

$mobile-header-height: 68px;

$tablet-header-height: 100px;
$desktop-header-height: 118px;
$desktop-header-padding: 8px;

$mobile-header-gap: 8px;
$tablet-header-gap: 12px;
$desktop-header-gap: 16px;

// Шрифты

$font-roboto-condensed: "Roboto Condensed", "Arial Narrow", "Arial", sans-serif;

// Цвета

$color-white: #ffffff;
$color-black: #000000;

$color-purple-300: #45325e;
$color-purple-400: #2f2141;
$color-purple-450: #170f22;
$color-purple-500: #150b22;
$color-purple-600: #10061c;
