@import "./../../styles/variables.scss";

html {
  height: 100%;
}

body {
  min-width: $mobile-width;
  margin: 0;
  height: 100%;
  min-height: 100%;

  font-family: $font-roboto-condensed;
  font-weight: 400;
  color: $color-white;
  overflow-wrap: break-word;

  background-color: $color-purple-500;
}

// stylelint-disable-next-line
#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 100%;
  padding-top: $mobile-header-height;

  @media (min-width: $tablet-width) {
    padding-top: $tablet-header-height;
  }

  @media (min-width: $desktop-width) {
    padding-top: $desktop-header-height;
  }
}

.app__header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;

  flex-shrink: 0;

  @media (min-height: 500px) {
    position: fixed;
  }
}

.app__main {
  flex-grow: 1;
}

.app__footer {
  flex-shrink: 0;
  margin-top: auto;
}
