:root {
  --sorter-space: calc(var(--sorter-size) + 12px);
}

.main {
  display: flex;
  justify-content: center;
}

.main__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px + ($desktop-padding * 2);
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-top: $mobile-padding;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.main__filter-sorter-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8950;
  padding: $mobile-padding;

  display: flex;
  align-items: center;
  min-width: $mobile-width;

  background-color: $color-purple-600;

  @media (min-width: $tablet-width) {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;

    width: 100%;
    max-width: calc(640px + (var(--sorter-space) * 2));
    margin-bottom: 64px;
    padding: 0;
    padding-right: var(--sorter-space);
    padding-left: var(--sorter-space);

    background-color: transparent;
  }
}

.main__filter {
  flex-grow: 1;
}

.main__sorter {
  flex-shrink: 0;
  margin-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 50%;

    margin-left: 0;

    transform: translateY(-50%);
  }
}
