:root {
  --socials-icon-size: 32px;

  @media (min-width: $tablet-width) {
    --socials-icon-size: 36px;
  }

  @media (min-width: $desktop-width) {
    --socials-icon-size: 40px;
  }
}

.about {
  display: flex;
  align-items: center;
}

.about__link {
  display: block;
  width: var(--socials-icon-size);
  height: var(--socials-icon-size);
}

.about__icon {
  width: var(--socials-icon-size);
  height: var(--socials-icon-size);

  fill: $color-white;

  transition-duration: $transition-duration;
  transition-property: fill;
}

.about__link:hover .about__icon {
  fill: rgba($color-white, 0.7);
}

.about__link:active .about__icon {
  fill: rgba($color-white, 0.5);
}
