:root {
  --search-input-height: 48px;
  --search-input-side-padding: 12px;
  --search-reset-button-size: 36px;
  --search-reset-button-size-svg-fill: 0.5;
  --side-switcher-size: 38px;
  --side-switcher-img-fill: 0.8;
  --search-buttons-gap: calc(
    (var(--search-input-height) - var(--side-switcher-size)) / 2
  );
  --search-buttons-width: calc(
    var(--search-reset-button-size) + (var(--side-switcher-size) * 2) +
      (var(--search-buttons-gap) * 3)
  );

  @media (min-width: $tablet-width) {
    --search-input-height: 64px;
    --search-input-side-padding: 23px;
    --search-reset-button-size: 48px;
    --side-switcher-size: 50px;
  }
}

.filter {
  position: relative;
}

.filter__search {
  width: 100%;
  height: var(--search-input-height);
  padding-left: var(--search-input-side-padding);
  padding-right: calc(var(--search-buttons-width));
  border: none;
  border-radius: 8px;

  background-color: $color-grey-500;
  box-shadow: 0 4px 21px 6px rgba($color-black, 0.25);

  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: $color-purple-500;

  &:focus {
    outline: none;
  }

  &[value=""] {
    --search-buttons-width: calc(
      (var(--side-switcher-size) * 2) + (var(--search-buttons-gap) * 2)
    );
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }
}

.filter__search-buttons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: var(--search-buttons-gap);

  width: var(--search-buttons-width);
}

.filter__search[value=""] + .filter__search-buttons {
  --search-buttons-width: calc(
    (var(--side-switcher-size) * 2) + (var(--search-buttons-gap) * 2)
  );
}

.filter__search-reset {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--search-reset-button-size);
  height: var(--search-reset-button-size);
  padding: 0;
  border: none;

  background-color: $color-grey-500;

  cursor: pointer;
}

.filter__search-reset-svg {
  width: calc(
    var(--search-reset-button-size) * var(--search-reset-button-size-svg-fill)
  );
  height: calc(
    var(--search-reset-button-size) * var(--search-reset-button-size-svg-fill)
  );

  stroke: rgba($color-purple-500, 0.9);

  transition-property: stroke;
  transition-duration: $transition-duration;
}

.filter__search-reset:hover .filter__search-reset-svg {
  stroke: rgba($color-purple-500, 0.8);
}

.filter__search-reset:active .filter__search-reset-svg {
  stroke: rgba($color-purple-500, 0.7);
}

.filter__side-switcher {
  position: relative;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--side-switcher-size);
  height: var(--side-switcher-size);
  padding: 0;
  border: none;
  border-radius: 50%;

  background-color: $color-purple-600;

  transition-property: background-color;
  transition-duration: $transition-duration;

  cursor: pointer;

  &:not(:first-child) {
    margin-left: var(--search-buttons-gap);
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-purple-600;
  }

  &--selected {
    &:hover,
    &:focus-visible {
      background-color: $color-purple-425;
    }
  }
}

.filter__side-switcher-img {
  width: calc(var(--side-switcher-size) * var(--side-switcher-img-fill));
  height: calc(var(--side-switcher-size) * var(--side-switcher-img-fill));

  opacity: 0.2;

  transition-property: opacity;
  transition-duration: $transition-duration;
}

.filter__side-switcher:hover .filter__side-switcher-img,
.filter__side-switcher:focus-visible .filter__side-switcher-img {
  opacity: 0.3;
}

.filter__side-switcher:active .filter__side-switcher-img {
  opacity: 0.4;
}

.filter__side-switcher--selected .filter__side-switcher-img {
  opacity: 1;
}

.filter__side-switcher--selected:hover .filter__side-switcher-img,
.filter__side-switcher--selected:focus-visible .filter__side-switcher-img {
  opacity: 1;
}

.filter__side-switcher--selected:active .filter__side-switcher-img {
  opacity: 0.8;
}

.filter__side-switcher--killer .filter__side-switcher-img {
  position: relative;
  top: 1px;
}
