/* stylelint-disable-next-line selector-max-id */
#root .perk-info {
  z-index: 9997;

  display: flex;
  flex-direction: column;
  width: var(--perk-description-width);
  padding: 0;
  border-radius: 0;
  transition-duration: 0s;
  transition-property: none;

  background-color: rgba($color-black, 0.95);
  box-shadow:
    0 20px 7px 0 rgba($color-black, 0.95),
    0 4px 4px 0 rgba($color-black, 0.25);
}

.perk-info__header {
  position: relative;

  width: 100%;
  min-height: 62px;
  padding-left: 16px;
  padding-right: 73px;
  padding-top: 18px;
  padding-bottom: 10px;

  background-color: $color-purple-325;
  background-image: url("@/assets/img/perks/description-header.jpg");
  background-size: calc(var(--perk-description-width) * 1.4);
  background-repeat: repeat-y;
  background-position: right top;

  @media (min-width: $tablet-width) {
    min-height: 85px;
    padding-left: 22px;
    padding-right: 97px;
    padding-top: 27px;
    padding-bottom: 14px;

    background-size: 100%;
  }
}

.perk-info__wiki-link {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  transition-duration: $transition-duration;
  transition-property: color;

  &:hover {
    color: rgba($color-white, 0.7);
  }

  &:active {
    color: rgba($color-white, 0.6);
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.perk-info__subtitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba($color-white, 0.6);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.perk-info__side {
  position: absolute;
  right: 9px;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  width: var(--perk-description-side-size);

  @media (min-width: $tablet-width) {
    right: 11px;
  }
}

.perk-info__legacy-switcher {
  position: relative;

  width: var(--perk-description-side-size);
  height: var(--perk-description-side-size);
  padding: 0;
  border: none;

  background: transparent;
  outline: none;

  cursor: pointer;

  &:focus-visible {
    &::before {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      border-color: rgba($color-white, 0.8);
      border-width: 2px;
      border-style: solid;

      pointer-events: none;

      transform: scale(1.15);
    }
  }
}

.perk-info__side-img {
  width: var(--perk-description-side-size);
  height: var(--perk-description-side-size);
}

.perk-info__description {
  padding: 16px;

  font-size: 12px;

  & p {
    margin-top: 0;
  }

  & li {
    margin-bottom: 0.2em;
  }

  @media (min-width: $tablet-width) {
    padding: 22px;

    font-size: 16px;
  }
}

.md-perk-extra-info {
  font-weight: 400;
  font-style: italic;
  color: $color-yellow-300;
}

.md-perk-quote {
  font-weight: 400;
  font-style: italic;
  color: $color-yellow-400;
}

.md-perk-tier-1 {
  font-weight: 700;
  color: $color-yellow-500;
}

.md-perk-tier-2 {
  font-weight: 700;
  color: $color-green-500;
}

.md-perk-tier-3 {
  font-weight: 700;
  color: $color-purple-200;
}

.md-perk-value-orange {
  font-weight: 700;
  color: $color-orange-500;
}

.md-perk-value-purple {
  font-weight: 700;
  color: $color-purple-200;
}

.md-perk-value-red {
  font-weight: 700;
  color: $color-red-500;
}

.md-perk-value-yellow {
  font-weight: 700;
  color: $color-yellow-500;
}
