@import "./../../styles/variables.scss";

.language-switcher .language-switcher__select {
  cursor: pointer;
}

.language-switcher__select .language-switcher__control {
  width: auto;
  min-width: 50px;
  border: none;

  text-align: center;

  background: none;
  box-shadow: none;
  cursor: pointer;

  &:hover,
  &:focus-within {
    border: none;

    background-color: $color-purple-450;
    box-shadow: none;
  }
}

.language-switcher__select .language-switcher__menu {
  border-radius: 4px;

  background-color: $color-purple-450;
  cursor: pointer;
}

.language-switcher__select .language-switcher__menu-list {
  border: transparent;
  border-radius: 4px;

  background-color: $color-purple-450;
  cursor: pointer;
}

.language-switcher__select .language-switcher__single-value {
  color: $color-white;
  font-weight: 700;
  font-size: 18px;

  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.language-switcher__select .language-switcher__option {
  text-align: center;

  cursor: pointer;

  &:active {
    background-color: transparent;
  }

  &--is-focused,
  &--is-focused:active {
    background-color: $color-purple-400;
  }

  &--is-selected,
  &--is-selected:active {
    background-color: $color-purple-300;
  }
}
