@import "./../../styles/variables.scss";

.header {
  display: flex;
  justify-content: center;
  min-height: $mobile-header-height;
  max-height: 50vh;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  background-color: $color-purple-600;

  @media (min-width: $tablet-width) {
    min-height: $tablet-header-height;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    min-height: $desktop-header-height;
  }

  @media (min-width: ($max-content-width + ($desktop-padding * 2))) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: $max-content-width;
  height: 100%;
  padding-top: $mobile-padding;
  padding-bottom: $mobile-padding;

  @media (min-width: $desktop-width) {
    min-height: $desktop-header-height;
    padding: $desktop-header-padding;
  }
}

.header__dbd-version {
  margin-left: $mobile-header-gap;

  @media (min-width: $tablet-width) {
    margin-left: $tablet-header-gap;
  }

  @media (min-width: $desktop-width) {
    margin-left: $desktop-header-gap;
  }
}

.header__language-switcher {
  margin-left: auto;
}
