@import "./../../styles/variables.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.footer__link {
  color: $color-white;
  text-decoration: none;

  transition-duration: $transition-duration;
  transition-property: color;

  &:hover {
    color: rgba($color-white, 0.7);
  }

  &:active {
    color: rgba($color-white, 0.6);
  }
}
